<div class="content">
<div class="form">
<h3 class="form-head">Add Employee</h3>

<form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
  <label >Name:</label>
  <input formControlName="name" type="text" required />
<br>
<label>gender:</label>
  <input formControlName="gender" type="text" />
<br>
<label>Email:</label>
<input formControlName="email" type="text" required />
<br>
  <label>Department:</label>
  <input formControlName="department" type="text" required />
<br>
  <label>Salary:</label>
  <input formControlName="salary" type="number" required />
<br>
<label>Start Date:</label>
<input formControlName="startDate" type="text" required />
<br>
  <label>Profile Picture URL:</label>
  <input formControlName="profilePic" type="text" />
<br>
<label>note:</label>
  <input formControlName="note" type="text" />
<br>
<label>Position:</label>
  <input formControlName="position" type="text" />
<br>
  <button type="submit">Submit</button>
  <button routerLink="/">Cancel</button>
</form>
</div>
</div>